/* biryani CSS */

.biryani h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: green;
}
.biryani h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  color: green;
}

.biryani img {
  width: 300px;
  height: 300px;
}

/* burger CSS */

.burger h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: orange;
}
.burger h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  color: orange;
}

.burger img {
  width: 500px;
  height: 600px;
}

/* lasagna CSS */

.lasagna h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: red;
}
.lasagna h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  color: red;
}

.lasagna img {
  width: 600px;
  height: 400px;
}
