/* biryani CSS */

h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: green;
}
h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;

  color: green;
}

img {
  width: 300px;
  height: 300px;
}

/* burger CSS */

h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: orange;
}
h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;

  color: orange;
}

img {
  width: 300px;
  height: 400px;
}

/* lasagna CSS */

h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: red;
}
h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  color: red;
}

img {
  width: 600px;
  height: 400px;
}
